.container {
  margin: 20rem 50%;
  top: 50%;
  left: 50%;
  height: 30rem;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.accType {
  float: left;
  position: relative;
}

.card {
  text-align: center;
}

.doctor {
    margin-right: 13rem;
    margin-left: .5rem;
}

.patient {
    margin-right: 13rem;
}