<div class="container">
  <div class="center ">
    <h1>Create an account</h1>
    <a href="http://localhost:4200/#/doctor-signup-phase-1">
    <div class="col doctor accType">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Doctor</h4>
            <img src="https://i.imgur.com/8paCh6n.png" alt="DocIMG" class="docImg">
          </div>
        </div>
    </div>
    </a>
    <a href="http://localhost:4200/#/patient-signup-phase-1">
      <div class="col patient accType">
        <div class="card accType" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Patient</h4>
            <img src="https://i.imgur.com/fd1uj0T.png" alt="DocIMG" class="docImg">
          </div>
        </div>
      </div>
    </a>
      <a href="http://localhost:4200/#/nurse-signup">
        <div class="col nurse accType">
          <div class="card accType" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">Nurse</h4>
              <img src="https://i.imgur.com/BdxPAhS.png" alt="DocIMG" class="docImg">
            </div>
          </div>
        </div>
      </a>
  </div>
</div>
