<div class="container">
  <div class="center ">
    <h1>Create an account</h1>
    <div class="col doctor accType">
      <a href="">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Doctor</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col patient accType">
      <div class="card accType" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Patient</h5>
        </div>
      </div>
    </div>
    <div class="col nurse accType">
      <div class="card accType" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Nurse</h5>
        </div>
      </div>
    </div>
  </div>
</div>
