body {
  background: url(https://i.imgur.com/D8KOqRL.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.container {
  margin: 5rem auto;
  height: 34rem;
  background: transparent;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 29%) 0px 6px 18px 0px;
  backdrop-filter: blur(10px);
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.accType {
  float: left;
  position: relative;
}

.accType a {
  text-decoration: none;
  color: blue;
}

.card {
  text-align: center;
  margin-top: .5rem;
  border-radius: 15%;
}

.card :hover {
  box-shadow: rgb(0 0 0 / 29%) 0px 6px 18px 0px;
  border-radius: 15%;
  // transition: ;
}

.card-body h4 {
  text-align: center;
  padding: 20px 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid silver;
  text-decoration: none;
  font-size: 1.8rem;
}

.card-body h4:hover {
  box-shadow: none;
}

.doctor {
  margin-right: 8rem;
  margin-left: .5rem;
  padding-right: 2rem;
}


.patient {
  margin-right: 8rem;
  // margin-left: .5rem;
  padding-right: 2rem;
}

.docImg {
  position: relative;
  width: 16rem;
  height: 16rem;
}

.card-body img:hover {
  box-shadow: none;
}
