<!-- Profile Infomartion-->
<div class="body">
  <div class="profile-card">
    <div class="left-side">
      <h3 class="welcome-msg">Welcome, <br> <span class="name">Amr</span></h3>
      <img class="profile-img" src="https://i.imgur.com/qe3Z1pd.jpg" alt="">
    </div>

    <div class="right-side">
      <div class="info">
        <h3 class="profile-info">Profile Information</h3>
        <p class="details">Name: <span class="details-ans">Amr Khalid Mostafa Ahmed</span></p>
        <p class="details">Age: <span class="details-ans">30 yrs old</span></p>
        <p class="details">Gender: <span class="details-ans">Male</span></p>
        <p class="details">Email: <span class="details-ans">AmrKhalid@gmail.com</span></p>
        <p class="details">Phone: <span class="details-ans">0122222222</span></p>
        <p class="details address">Governorate: <span class="details-ans">Giza</span></p>
        <p class="details address">City: <span class="details-ans">6th October</span></p>
        <p class="details address">Street: <span class="details-ans">EL Hosary</span></p>
      </div>
    </div>
  </div>




  <!-- Medical History-->
  <div class="">

  </div>

</div>
