<div class="center d-flex">
  <div class="leftSide">
    <div class="infoCard d-flex">
        <div class="profilePicture infoCardLeft justify-content-center d-flex">
            <span class="headshot headshot-1"></span>
        </div>
        <div class="userInfo d-flex">
            <p class="userName userDetails">User Name Here</p>
            <p class="userDetails">Age: </p>
            <p class="userDetails">Gender: </p>
            <p class="userDetails">Email: </p>
            <p class="userDetails">Phone Number: </p>
            <p class="userDetails">Address: </p>
        </div>
    </div>
  </div>
  <div class="rightSide">
    <div class="appointments">

    </div>
  </div>
</div>
<!-- <img src="#" alt="P.Pic"> -->