<div class="card">
  <div class="left-side">
    <img class="profile-img" src="https://i.imgur.com/fd1uj0T.png" alt="Profile pic">
    <h4 class="user-type">Patient</h4>
    <div class="image-upload-div">
      <div class="image-upload">
        <label for="file-input">
          Upload profile picture?
        </label>
        <input id="file-input" type="file">
      </div>
    </div>
    <div class="submit">
      <input class="submit-btn btn btn-primary" type="submit" value="Register">
    </div>
  </div>


  <div class="right-side">
    <div>
      <p-tabView>
        <p-tabPanel header="ID">
          <form>
            <div class="form-row row-1">
              <div class="fullname">
                <label for="first-name">First name</label>
                <input type="text" class="form-control" id="first-name" placeholder="First name" required>
              </div>
              <div class="fullname">
                <label for="middle-name">Middle name</label>
                <input type="text" class="form-control" id="middle-name" placeholder="Middle name" required>
              </div>
              <div class="fullname">
                <label for="last-name">Last name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last name" required>
              </div>
            </div>


            <div class="form-row row-1">
              <div class="birth">
                <label for="birthdate">Birthdate</label>
                <input type='date' class="form-control birth-input" id="birthdate" required>
              </div>

              <div class="gender">

                <label class="form-check-label gender-label" for="gender">Gender</label>

                <div class="form-check male-check">
                  <input class="form-check-input male-check-circle" type="radio" name="gender" id="male">
                  <label class="form-check-label" for="male">
                    <img class="gender-icon" src="https://i.imgur.com/7alkg7M.png" alt="Male-icon"> Male
                  </label>
                </div>

                <div class="form-check female-check">
                  <input class="form-check-input female-check-circle" type="radio" name="gender" id="female">
                  <label class="form-check-label" for="female">
                    <img class="gender-icon" src="https://i.imgur.com/31PD7OW.png" alt="Female-icon"> Female
                  </label>
                </div>
              </div>
            </div>

            <div class="form-row row-1">
              <div class="email">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Name@example.com" required>
              </div>

              <div class="phone">
                <label for="phone">Phone number</label>
                <input type="tel" class="form-control" id="phone" pattern="^01[0-2,5]{1}[0-9]{8}$"
                  placeholder="Vodafone/Etisalat/Orange/We" required>
              </div>
            </div>

            <div class="form-row row-1">
              <div class="city">
                <label for="city">City</label>
                <select class="form-control" id="city" required>
                  <option class="disabled-select" selected="true" disabled>All cities</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="area">
                <label for="area">Area</label>
                <select class="form-control" id="area" required>
                  <option class="disabled-select" selected="true" disabled>Choose city first</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="area">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" placeholder="Street" required>
              </div>
            </div>

            <div class="form-row row-1">
              <div class="password">
                <label for="passowrd">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" minlength="8"
                  maxlength="20" aria-describedby="passwordHelpBlock">
                <small id="passwordHelpInline" class="text-muted">
                  Must be 8-20 characters long.
                </small>
              </div>
              <div class="form-check terms-conditions">
                <input class="form-check-input" type="checkbox" id="terms-conditions" required>
                <label class="form-check-label" for="terms-conditions">
                  I agree to terms and conditions
                </label>
              </div>
            </div>
          </form>
        </p-tabPanel>

        <p-tabPanel header="Medical Details">
          <form>

            <div class="form-row row-1">
              <div class="blood-type">
                <label for="blood-type">Blood Type</label>
                <select class="form-control center-select" id="blood-type" size="3" required>
                  <option value="A+">A+</option>
                  <option value="O+">O+</option>
                  <option value="B+">B+</option>
                  <option value="AB+">AB+</option>
                  <option value="A-">A-</option>
                  <option value="O-">O-</option>
                  <option value="B-">B-</option>
                  <option value="AB-">AB-</option>
                </select>
              </div>

              <div class="chronic-diseases">
                <label for="chronic-diseases">Chronic Diseases</label>
                <select class="form-control center-select" id="specialist" multiple size="3" required>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                </select>
              </div>
            </div>

            <div class="form-row row-5"><label class="form-check-label allergies-label"
                for="allergies">Allergies</label>
            </div>
            <div class="form-row row-4">

              <div class="form-row row-3">
                <div class="allergies">
                  <div class="form-check allergy-type">
                    <input class="form-check-input" type="checkbox" name="drug-allergy" id="drug-allergy">
                    <label class="form-check-label allergy-label" for="drug-allergy">
                      Drug Allergy
                    </label>
                  </div>

                  <div class="allergy-details">
                    <input type="text" class="form-control" id="allergy-details"
                      placeholder="ex. some Medication, etc.">
                  </div>

                </div>
              </div>
              <div class="form-row row-3">
                <div class="allergies">
                  <div class="form-check allergy-type">
                    <input class="form-check-input" type="checkbox" name="food-allergy" id="food-allergy">
                    <label class="form-check-label daallergy-typey-label" for="food-allergy">
                      Food Allergy
                    </label>
                  </div>

                  <div class="allergy-details">
                    <input type="text" class="form-control" id="allergy-details"
                      placeholder="ex. jelly, peanut butter, etc.">
                  </div>

                </div>
              </div>
              <div class="form-row row-3">
                <div class="allergies">
                  <div class="form-check allergy-type">
                    <input class="form-check-input" type="checkbox" name="insect-allergy" id="insect-allergy">
                    <label class="form-check-label allergy-type-label" for="insect-allergy">
                      Insect Allergy
                    </label>
                  </div>

                  <div class="allergy-details">
                    <input type="text" class="form-control" id="allergy-details" placeholder="ex. bees, etc.">
                  </div>

                </div>
              </div>
              <div class="form-row row-3">
                <div class="allergies">
                  <div class="form-check allergy-type">
                    <input class="form-check-input" type="checkbox" name="latex-allergy" id="latex-allergy">
                    <label class="form-check-label allergy-type-label" for="latex-allergy">
                      Latex Allergy
                    </label>
                  </div>

                  <div class="allergy-details">
                    <input type="text" class="form-control" id="allergy-details"
                      placeholder="ex. natrual rubber latex, etc.">
                  </div>

                </div>
              </div>
              <div class="form-row row-3">
                <div class="allergies">
                  <div class="form-check allergy-type">
                    <input class="form-check-input" type="checkbox" name="mold-allergy" id="mold-allergy">
                    <label class="form-check-label allergy-type-label" for="mold-allergy">
                      Mold Allergy
                    </label>
                  </div>

                  <div class="allergy-details">
                    <input type="text" class="form-control" id="allergy-details" placeholder="ex. fungi, etc.">
                  </div>

                </div>
              </div>
              <div class="form-row row-3">
                <div class="allergies">
                  <div class="form-check allergy-type">
                    <input class="form-check-input" type="checkbox" name="pet-allergy" id="pet-allergy">
                    <label class="form-check-label allergy-type-label" for="pet-allergy">
                      Pet Allergy
                    </label>
                  </div>

                  <div class="allergy-details">
                    <input type="text" class="form-control" id="allergy-details" placeholder="ex. dogs, cats, etc.">
                  </div>

                </div>
              </div>
              <div class="form-row row-3">
                <div class="allergies">
                  <div class="form-check allergy-type">
                    <input class="form-check-input" type="checkbox" name="pollen-allergy" id="pollen-allergy">
                    <label class="form-check-label allergy-type-label" for="pollen-allergy">
                      Pollen Allergy
                    </label>
                  </div>

                  <div class="allergy-details">
                    <input type="text" class="form-control" id="allergy-details"
                      placeholder="ex. seasonal allergies, etc.">
                  </div>

                </div>
              </div>
            </div>

            <div class="form-row row-5"><label class="form-check-label vaccination-label"
                for="vaccination">Vaccination</label>
            </div>
            <div class="form-row row-2">
              <div class="first-dose">

                <div class="dose-type">
                  <label for="first-does">First dose</label>
                  <select class="form-control center-select" id="first-does" size="2" required>
                    <option value="N/A">N/A</option>
                    <option value="Pfizer">Pfizer</option>
                    <option value="Janssen">Janssen</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Moderma">Moderma</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="Sinovac">Sinovac</option>
                    <option value="Covovax">Covovax</option>
                    <option value="Nuvaxvoid">Nuvaxvoid</option>
                  </select>
                </div>

                <div class="dose-date">
                  <label for="first-dose-date">Date</label>
                  <input class="form-control" type="date" name="first-dose-date" id="first-dose-date">
                </div>

              </div>
            </div>

            <div class="form-row row-2">
              <div class="first-dose">

                <div class="dose-type">
                  <label for="second-does">Second dose</label>
                  <select class="form-control center-select" id="second-does" size="2" required>
                    <option value="N/A">N/A</option>
                    <option value="Pfizer">Pfizer</option>
                    <option value="Janssen">Janssen</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Moderma">Moderma</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="Sinovac">Sinovac</option>
                    <option value="Covovax">Covovax</option>
                    <option value="Nuvaxvoid">Nuvaxvoid</option>
                  </select>
                </div>

                <div class="dose-date">
                  <label for="second-dose-date">Date</label>
                  <input class="form-control" type="date" name="second-dose-date" id="second-dose-date">
                </div>

              </div>
            </div>

            <div class="form-row row-2">
              <div class="third-dose">

                <div class="dose-type">
                  <label for="third-does">Third dose</label>
                  <select class="form-control center-select" id="third-does" size="2" required>
                    <option value="N/A">N/A</option>
                    <option value="Pfizer">Pfizer</option>
                    <option value="Janssen">Janssen</option>
                    <option value="AstraZeneca">AstraZeneca</option>
                    <option value="Moderma">Moderma</option>
                    <option value="Sinopharm">Sinopharm</option>
                    <option value="Sinovac">Sinovac</option>
                    <option value="Covovax">Covovax</option>
                    <option value="Nuvaxvoid">Nuvaxvoid</option>
                  </select>
                </div>

                <div class="dose-date">
                  <label for="third-dose-date">Date</label>
                  <input class="form-control" type="date" name="third-dose-date" id="third-dose-date">
                </div>

              </div>
            </div>

          </form>
        </p-tabPanel>

      </p-tabView>
    </div>
  </div>


</div>
