<div class="container">
    <div class="col logo">
        <img src="" alt="patientLogo">
        <input type="btn" value="Register Now">
    </div>
    <div class="col info">
        <div class="row header">
            <h1 class="headerTxt">Information</h1>
            <div class="row userInfo">
                <input type="text" class="firstName">
                <input type="text" class="secondName">
                <input type="calender" class="birthDate">
                <input type="radio" class="maleGender">
                <input type="radio" class="femaleGender">
                <input type="email" class="email">
                <input type="" class="countryCode">
            </div>
        </div>
    </div>
</div>