<div>
    <div class="appointments-list">
      <div class="appointments-list-table-scroll">
        <table class="appointments-list-table">
          <thead>
            <tr>
              <th colspan="5">
                <h4>Appointments-list</h4>
              </th>
            </tr>
            <tr>
              <th>Profession</th>
              <th>Name</th>
              <th>Patient</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dr</td>
              <td>Khalid Amr</td>
              <td>Nour Magdy</td>
              <td>28/8/2020</td>
              <td>09:00 PM</td>
            </tr>
            <tr>
              <td>Dr</td>
              <td>Khalid Amr</td>
              <td>Nour Magdy</td>
              <td>28/8/2020</td>
              <td>09:00 PM</td>
            </tr>
            <tr>
              <td>Dr</td>
              <td>Khalid Amr</td>
              <td>Nour Magdy</td>
              <td>28/8/2020</td>
              <td>09:00 PM</td>
            </tr>
            <tr>
              <td>Dr</td>
              <td>Khalid Amr</td>
              <td>Nour Magdy</td>
              <td>28/8/2020</td>
              <td>09:00 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  