<div class="FPContainer d-flex justify-content-center">
<div class="center" name="container">
    <h1>Forget Password</h1>
    <form method="post">
      <h5>Forgot your password?</h5>
      <p>Enter your email below to reset your password.</p>
      <div class="txt_field">
        <input type="email" name="userName" required>
        <span></span>
        <label>E-mail</label>
      </div>
      <input type="submit" value="Reset Password" name="forgetBtn">
      <div class="signup_link">
        <a href="http://localhost:4200/#/login">Sign in with another account </a>
      </div>
    </form>
  </div>
</div>