<div class="search-div">
    <form>
      <div class="form-row row-1">
        <div class="insurer-company">
          <label for="insurer-company">Insurer Company</label>
          <select class="form-control" id="insurer-company" required>
            <option class="disabled-select" selected="true" disabled>Select Company</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="payment-frequency">
          <label for="payment-frequency">Payment Frequency</label>
          <select class="form-control" id="payment-frequency" required>
            <option class="disabled-select" selected="true" disabled>Select Frequency</option>
            <option>Monthly</option>
            <option>Annual</option>
            <option>Semi Annual</option>
            <option>Quarterly</option>
          </select>
        </div>
      </div>
      <div class="form-row row-2">
        <div class="premium-range">
          <label class="premium-range-label" for="premium-range">Premium Range</label>
          <input class="premium-range-input" id="premium-range" type="range" value="0" min="0" max="2000"
            oninput="this.nextElementSibling.value = this.value">
          <output>0</output>
          <span class="currency"> EGP</span>
        </div>
        <div class="deductible-range">
          <label class="deductible-range-label" for="deductible-range">Deductible Range</label>
          <input class="deductible-range-input" id="deductible-range" type="range" value="0" min="0" max="2000"
            oninput="this.nextElementSibling.value = this.value">
          <output>0</output>
          <span class="currency"> EGP</span>
        </div>
  
      </div>
  
      <div class="form-row row-3">
  
        <label class="benefits-label" for="Benefits">Benefits</label>
  
        <div>
          <label class="form-check-label" for="inpatient">Inpatient <input class="form-check-input benefits-input" type="checkbox" name="inpatient" id="inpatient" checked><span class="definition">(a patient who lives in hospital while under treatment)</span></label>
        </div>
        <div>
          <label class="form-check-label" for="outpatient">Outpatient <input class="form-check-input benefits-input" type="checkbox" name="outpatient" id="outpatient"><span class="definition">(a patient who attends a hospital for treatment without staying there overnight.)</span></label>
        </div>
        <div>
          
          <label class="form-check-label" for="dental">Dental <input class="form-check-input benefits-input" type="checkbox" name="dental" id="dental"><span class="definition">(relating to the teeth and gums. / relating to dentistry.)</span></label>
        </div>
        <div>
          
          <label class="form-check-label" for="optical">Optical <input class="form-check-input benefits-input" type="checkbox" name="optical" id="optical"><span class="definition">(will often cover eye exams, contact lenses, and eyeglass lenses and frames.)</span></label>
        </div>
        <div>
          
          <label class="form-check-label" for="chronic">Chronic <input class="form-check-input benefits-input" type="checkbox" name="chronic" id="chronic"><span class="definition">(ongoing or long-term monitoring by consultations, examinations, check-ups, tests.)</span></label>
        </div>
        <div>
          <label class="form-check-label" for="well-being">Well Being <input class="form-check-input benefits-input" type="checkbox" name="well-being" id="well-being"><span class="definition">(refers to being physically, mentally, and emotionally healthy)</span></label>
        </div>
        <div>
          <label class="form-check-label" for="emergency-evacuation">Emergencey Evacuation <input class="form-check-input benefits-input" type="checkbox" name="emergency-evacuation" id="emergency-evacuation"><span class="definition">(the transportation from one hospital to another in the case of serious illness or an injury that requires urgent treatment. It occurs only when the local hospital can't provide adequate treatment.)</span></label>
        </div>
        <div>
          <label class="form-check-label" for="emergency-repatration">Emergencey Repatration <input class="form-check-input benefits-input" type="checkbox" name="emergency-repatration" id="emergency-repatration"><span class="definition">(provide coverage for transportation of a traveler to the nearest adequate medical facility in the event of a medical emergency during their trip. Repatriation can transport a traveler's remains back home.)</span></label>
        </div>
      </div>
  
      <div class="form-row row-4">
        <input class="search-btn btn btn-primary" type="submit" value="Search">
      </div>
  
    </form>
  </div>
  
  
  <div class="search-result">
  
  </div>
  