<!--Navbar-->

<!-- Link to health Care page div -->
<a href="http://localhost:4200/#/home">
  <div class="navigate-to-health-div">
    <div class="navigation-icon">
      <i class="pi pi-arrow-circle-down navigate-arrow"></i>
    </div>
    <p class="health-care-anchor">Health Care</p>
  </div>
</a>


<!-- Link to top of the page -->

<a href="#to-top"><i class="pi pi-angle-double-up to-top-icon"></i></a>



<!-- Insurance top div -->
<div class="insurance-home-block">
  <p class="insurance-home-paragraph">Join 50 million members All over Egypt protected by Safe-life</p>
  <h1 class="insurance-home-h1">National Health insurance for who u care of</h1>

  <button type="button" class="btn btn-lg btn-success insurance-home-btn1" name="button"><i
      class="pi pi-arrow-right insurance-home-icon"></i>Online quote</button>
  <button type="button" class="btn btn-lg btn-primary insurance-home-btn2" name="button"><i
      class="pi pi-comment insurance-home-icon"></i> Online chat</button>
  <button type="button" class="btn btn-lg btn-primary insurance-home-btn3" name="button"><i
      class="pi pi-phone insurance-home-icon"></i> Request a call back</button>
</div>



<!-- About us -->
<div id="about-us-block">
  <h2 class="about-us-main-h2">Committed to Finding Our Customers the Right Health Insurance.</h2>
  <p class="about-us-main-paragraph">Our online tools, free quotes, and licensed agents are here to help you find a
    plan.</p>

  <hr class="about-us-hr">

  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-6 col-sm-12">
        <h1 class="about-us-h1"><img class=" about-us-icon" src="https://i.imgur.com/HNUJEsC.png" alt="">We're your
          health insurance advocate</h1>
        <p class="about-us-paragraph">Need help or have questions about coverage or billing? eHealth will deal with the
          health insurance companies for you, even after you've bought your plan.</p>
      </div>

      <div class="col col-lg-6 col-sm-12">
        <h1 class="about-us-h1"><img class=" about-us-icon" src="https://i.imgur.com/bGMx3yv.png" alt="">We're Available
          24/7</h1>
        <p class="about-us-paragraph">Health insurance questions? We have your back 24/7 between our online chat
          function, email, and telephone support from our licensed health insurance agents.</p>
      </div>

      <div class="col col-lg-6 col-sm-12">
        <h1 class="about-us-h1"><img class=" about-us-icon" src="https://i.imgur.com/Aym6m9u.png" alt="">We have the
          best prices on plans</h1>
        <p class="about-us-paragraph">The health insurance plans eHealth offers are priced the same everywhere else—we
          just make them easier for you to find.</p>
      </div>

      <div class="col col-lg-6 col-sm-12">
        <h1 class="about-us-h1"><img class=" about-us-icon" src="https://i.imgur.com/5rdLMUJ.png" alt="">We're unbiased
        </h1>
        <p class="about-us-paragraph">Our online tools help you decide what product is best for you—we're here to help
          no matter what health insurance plan you choose.</p>
      </div>

      <div class="col col-lg-6 col-sm-12">
        <h1 class="about-us-h1"><img class=" about-us-icon" src="https://i.imgur.com/vfucB0T.png" alt="">We make health
          insurance simple</h1>
        <p class="about-us-paragraph">We're committed to making shopping and applying for health insurance as simple as
          can be for our customers. Our features make getting health insurance simple, fast, and convenient.</p>
      </div>

      <div class="col col-lg-6 col-sm-12">
        <h1 class="about-us-h1"><img class=" about-us-icon" src="https://i.imgur.com/JbJYbtn.png" alt="">We have the
          best selection online</h1>
        <p class="about-us-paragraph">With over 10,000 plans from over 180 companies, you can't find a bigger selection
          of health insurance products online worldwide</p>
      </div>
    </div>
  </div>
</div>



<!-- Health Plans div -->
<div class="health-plans-block">
  <h1 class="health-plans-h1">Health Companies</h1>
  <p class="health-plans-heading-p">Enjoy a premium medical coverage with any of the below Companies inside Egypt</p>
  <div class="health-plans-div">
  
  </div>
</div>


<!-- FAQs div -->
<div class="faqs-block">
  <h2 class="faqs-h2">FAQs</h2>
  <p class="faqs-p">We know you might want more information about our health care, so we've put together a
    list
    of
    our
    most commonly-asked questions right here.</p>

  <div class="faqs-div">
    <p-panel class="faq-card" header="Question 1" toggleable="true" collapsed="true">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet libero lacus, a scelerisque
        augue
        posuere sed. Phasellus dignissim dolor eu metus cursus, sit amet pharetra nulla maximus. Nunc
        condimentum
        ante
        vel dolor tempor gravida. Nulla vestibulum cursus mauris malesuada ultricies. Mauris ut vulputate
        quam.
        Quisque
        elementum sit amet tellus at imperdiet. Curabitur auctor justo quis tortor venenatis, sit amet
        feugiat
        erat
        condimentum. Maecenas sodales ligula erat, et vest
      </p>
    </p-panel>

    <p-panel class="faq-card" header="Question 2" toggleable="true" collapsed="true">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet libero lacus, a scelerisque
        augue
        posuere sed. Phasellus dignissim dolor eu metus cursus, sit amet pharetra nulla maximus. Nunc
        condimentum
        ante
        vel dolor tempor gravida. Nulla vestibulum cursus mauris malesuada ultricies. Mauris ut vulputate
        quam.
        Quisque
        elementum sit amet tellus at imperdiet. Curabitur auctor justo quis tortor venenatis, sit amet
        feugiat
        erat
        condimentum. Maecenas sodales ligula erat, et vest
      </p>
    </p-panel>

    <p-panel class="" header="Question 3" toggleable="true" collapsed="true">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet libero lacus, a scelerisque
        augue
        posuere sed. Phasellus dignissim dolor eu metus cursus, sit amet pharetra nulla maximus. Nunc
        condimentum
        ante
        vel dolor tempor gravida. Nulla vestibulum cursus mauris malesuada ultricies. Mauris ut vulputate
        quam.
        Quisque
        elementum sit amet tellus at imperdiet. Curabitur auctor justo quis tortor venenatis, sit amet
        feugiat
        erat
        condimentum. Maecenas sodales ligula erat, et vest
      </p>
    </p-panel>

    <p-panel class="" header="Question 4" toggleable="true" collapsed="true">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet libero lacus, a scelerisque
        augue
        posuere sed. Phasellus dignissim dolor eu metus cursus, sit amet pharetra nulla maximus. Nunc
        condimentum
        ante
        vel dolor tempor gravida. Nulla vestibulum cursus mauris malesuada ultricies. Mauris ut vulputate
        quam.
        Quisque
        elementum sit amet tellus at imperdiet. Curabitur auctor justo quis tortor venenatis, sit amet
        feugiat
        erat
        condimentum. Maecenas sodales ligula erat, et vest
      </p>
    </p-panel>

    <p-panel class="" header="Question 5" toggleable="true" collapsed="true">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet libero lacus, a scelerisque
        augue
        posuere sed. Phasellus dignissim dolor eu metus cursus, sit amet pharetra nulla maximus. Nunc
        condimentum
        ante
        vel dolor tempor gravida. Nulla vestibulum cursus mauris malesuada ultricies. Mauris ut vulputate
        quam.
        Quisque
        elementum sit amet tellus at imperdiet. Curabitur auctor justo quis tortor venenatis, sit amet
        feugiat
        erat
        condimentum. Maecenas sodales ligula erat, et vest
      </p>
    </p-panel>

    <button type="button" class="btn btn-primary view-more-btn">View More</button>
  </div>
</div>


<!-- our achievements div (200+ Plans / 150+ Hospitals....) -->
<div class="achievements-block">
  <div class="container achievements-container">
    <div class="row">
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
    </div>
  </div>

</div>

<!-- contact us div -->
<div class="contact-us-block">
  <div class="contact-us-div">
    <p class="contact-us-p">Contact us by calling <i class="pi pi-phone"></i> <span>18000</span> or
      communicate
      with
      chat.
      Keep in touch with us with another communciation methods. <br> <a class="contact-us-icon"
        href="http://localhost:4200/#/contact-us">View
        more <i class="pi pi-arrow-circle-right"></i></a></p>
  </div>
</div>

<!-- healthcare booking div -->
<div class="get-appointment-block">
  <div class="get-appointment-div ">
    <div class="get-appointment-p">
      <p>Didn't book an appointment yet!!! <br> Check out our Experienced Doctors & Nurse and book who you prefer.
        <br>
        View more & more of all details of every Doctors & Nurses all over Egypt.<br>
      </p>
    </div>
    <div class="get-appointment-btn-div">
      <a href=""><button class="btn btn-md btn-success get-appointment-btn">Check Appointments</button></a>
    </div>
  </div>
</div>

<!-- social media div -->
<div class="social-media-block">
  <hr class="social-media-line">
  <div class="social-media-set">

    <a href="#"><i class="pi pi-facebook facebook social-media"></i></a>
    <a href="#"><i class="pi pi-twitter twitter social-media"></i></a>
    <a href="#"><i class="pi pi-instagram instagram social-media"></i></a>
    <a href="#"><i class="pi pi-whatsapp whatsapp social-media"></i></a>
  </div>
  <hr class="social-media-line">
</div>


<!--Footer-->
