/*************************Navigate to insurance page*************************/
.navigate-to-health-div {
  width: 350px;
  height: 60px;

  position: fixed;
  left: 0.8rem;
  top: 10rem;

  transform: rotate(90deg);
  transform-origin: left;

  text-align: center;
  background-color: white;

  border: 1px grey solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 9;
}

.navigate-to-health-div:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  box-shadow: rgb(0 0 0 / 30%) 0px 6px 18px 0px;
}

.health-care-anchor {
  color: dimgray;

  position: absolute;
  left: 130px;
  top: 5px;

  text-decoration: none;
  font-size: 1.5rem;
}

.navigate-arrow {
  position: absolute;
  top: -25px;

  font-size: 30px;
  color: green;
  background-color: white;
  background-position: 0%;
  border-radius: 50%;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*************************Navigate to top of the page btn*************************/
.to-top-icon {

  position: fixed;
  right: 35px;
  bottom: 85px;
  background-color: white;
  color: #5553B7;
  border: 5px solid #5553B7;
  border-radius: 50%;
  font-size: 40px;
  z-index: 9;
  scroll-behavior: smooth;
}





/*************************Insurance Home*************************/
.insurance-home-block {
  background: url("https://i.imgur.com/FPRBJFr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
  text-align: center;
}

.insurance-home-h1 {
  font-size: 3rem;
  color: #fff;
  padding: 8% 27% 10%;
  line-height: 1.5;
  font-weight: 900;
  font-style: normal;
}

.insurance-home-paragraph {
  color: #fff;
  font-size: 1.2rem;
  padding-top: 3.5%;
}


.insurance-home-btn1 {
  display: inline-block;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-right: 2%;
  font-family: sans-serif;
}

.insurance-home-btn2 {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  font-family: sans-serif;
}

.insurance-home-btn3 {
  display: block;
  padding-left: 6%;
  padding-right: 6%;
  margin: 1.5% auto 3%;
  font-family: sans-serif;
}

.insurance-home-icon {
  margin-right: 7px;
  font-size: 18px;
  font-weight: bold;
}

/*************************About us block*************************/
.about-us-block {
  height: auto;
}

.about-us-h1 {
  font-size: 1.5rem;
  margin-left: 18%;
}

.about-us-main-h2 {
  text-align: center;
  padding: 3% 0 0.5%;
  font-weight: 400;
  opacity: 0.9;
}


.about-us-main-paragraph {
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.8;
}

.about-us-paragraph {
  font-size: 1rem;
  text-align: left;
  opacity: 0.8;
  padding: 0 10% 3% 18%;
}

.about-us-icon {
  padding-right: 2%;
}

.about-us-hr {
  border: 10px;
  border-top-style: dotted;
  background-color: white;
  border-color: #0278ae;
  width: 20%;
  margin: 2% auto 4%;
  opacity: 1;
}




/*************************Health Plans block*************************/

.health-plans-block {
  height: 35rem;
  background-color: #DAE5D0;
}

.health-plans-div {
  width: 85%;
  height: 15rem;
  background-color: #0278ae;
  margin: 5% auto 0;

}


.health-plans-set1-row {

  border: 1px solid white;
  background-color: white;

  margin-left: 3%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.health-plans-set1-row-col1 {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  flex-direction: column;
  border-right: 4px solid #0278ae;
  width: 100px;
}

.health-plans-set1-row-col2 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  width: 100px;
}

.health-plans-set1-row-col3 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  width: 100px;
}

.health-plans-set1-row-col4 {
  display: flex;
  flex: 1 1 auto; 
  align-items: center;
  flex-direction: column;
  width: 100px;
}


.justify-text {
  margin: 0;
  padding: 5%;
}


.health-plans-h1 {
  text-align: center;
  opacity: 0.6;
  padding: 3% 0 0.5%;
}

.health-plans-heading-p {
  text-align: center;
  opacity: 0.6;
  font-size: 1.3rem;
}



/*************************FAQs block*************************/

.faqs-block {
  height: auto;
  text-align: center;
  color: white;
  background: radial-gradient(#56BBF1, #4D77FF);
}

.faqs-div {
  padding: 0 25% 3%;
}

.faqs-h2 {
  padding: 3% 0 0.5%;
}

.faqs-p {
  padding-bottom: 2%;
  font-size: 1.2rem;
}

.faq-p {
  text-align: center;
}

:host ::ng-deep .p-panel .p-panel-header .p-panel-header-icon:focus {
  box-shadow: none;
}


.view-more-btn {
  padding: 1% 2%;
  font-size: 1rem;
  border-radius: 20px;
  margin-top: 4%;
}


/*************************Achievements block fifth block*************************/

.achievements-block {
  height: auto;
  background-color: #1E5128;
  text-align: center;
}

.achievements-container {
  color: white;
}

.achievements-headings-set {
  padding: 1.5% 0;
}

.achievements-headings {
  margin-bottom: 0;
}

/*****************************************************************/
/*************************Contact us block sixth block*************************/

.contact-us-block {
  background-color: #357C3C;
  position: relative;
}

.contact-us-div {
  position: relative;
}

.contact-us-p {
  color: white;
  padding: 1% 0;
  text-align: center;
  margin-bottom: 0;
}

.contact-us-icon {
  text-decoration: none;
  color: white;
}

.contact-us-icon:hover {
  color: #54E346;
}

/*****************************************************************/
/*************************Get plan block seventh block*************************/
.get-appointment-block {
  height: auto;
}

.get-appointment-div {
  position: relative;
  width: 60%;
  box-shadow: rgb(0 0 0 / 29%) 0px 6px 18px 0px;
  background: linear-gradient(to right, #EEEEEE, #f1f1f1 400px, #EEEEEE 800px);
  background-size: 800px 100%;
  background-position: 0 100%;

  margin: 5% auto 3%;
  border: 1px solid #EEEEEE;
  border-radius: 15px;
}

.get-appointment-p {
  margin: 5%;
  font-size: 1.3rem;
}

.get-appointment-btn-div {
  position: relative;
  text-align: center;
  padding-bottom: 2.5rem;
}

.get-appointment-btn {
  border-radius: 15px;
  padding: 12px 30px;
  size: 10%;
  background-color: #357C3C;
}


/*****************************************************************/
/*************************social media block eightith block*************************/
.social-media-block {
  height: auto;
  display: flex;
  align-items: center;
}

.social-media-set {
  margin: 3% 0;
}

.social-media {
  font-size: 25px;
  padding: 0 15px;
}

.facebook {
  color: #1195f5;
}

.twitter {
  color: #50abf1;
}

.instagram {
  text-align: center;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.whatsapp {
  color: #0dc143;
}

.social-media-line {
  border: 0;
  height: 5px;
  margin: 5px;
  flex: 1;
  z-index: 1;
}
