    <div class="card cardMain" style="width: 25rem;">
      <img src="https://i.imgur.com/d3lwL64.jpg" class="card-img-top" alt="login-img">
      <div class="card-body">
        <div class="card-top">

        </div>
        <div class="card-middle">
          <div class="card-middle-options">
            <p>Email</p>
            <input type="text" placeholder="Tpye your email here">
            <p>Password</p>
            <input type="text" placeholder="Type your password here">
            <input type="button">
          </div>
        </div>
        <div class="card-lower">
            <p>Don't have an account?</p>
            <a href="http://localhost:4200/#/sign-up">Sign up</a>
        </div>
      </div>
    </div>
