<div class="loginContainer d-flex justify-content-center">
  <div class="center" name="container">
    <h1>Login</h1>
    <form method="post">
      <div class="txt_field">
        <input type="email" id="LoginEmail" name="LoginEmail" required>
        <label for="LoginEmail">E-mail</label>
      </div>
      <div class="txt_field" name="password">
        <input type="password" id="LoginPassword" name='LoginPassword' required>
        <label>Password</label>
      </div>
      <div class="pass"><a href="http://localhost:4200/#/forget-password" class="pass">Forgot Password?</a></div>
      <input type="submit" value="Login" id="LoginBtn" name="LoginBtn">
      <div class="signup_link">
        Don't have an account? <br><a href="http://localhost:4200/#/sign-up">Signup</a>
      </div>
    </form>
  </div>
</div>
