<div class="container-fluid container-grid">
  <div class="row">
    <div class="col-sm">
      <p class="header"><i class="pi pi-heart icon"></i> Safe-Life</p>
      <!--Add icon here-->
      <ul>
        <li class="list">
          <a class="link" href="http://localhost:4200/#/about-us">About</a>
        </li>
        <li class="list">
          <a class="link" href="">FAQs</a>
        </li>
        <li class="list">
          <a class="link" href="">View Doctors</a>
        </li>
        <li class="list">
          <a class="link" href="">View Plans</a>
        </li>
      </ul>
    </div>
    <div class="col-sm column2">
      <p class="header"><i class="pi pi-question-circle icon"></i> Need Assistance?</p>
      <!--Add icon here-->
      <ul>
        <li class="list">
          <a class="link" href="http://localhost:4200/#/contact-us">Contact Us</a>
        </li>
        <li class="list">
          <a class="link" href="">Privacy Policy</a>
        </li>
        <li class="list">
          <a class="link" href="">Term of Use</a>
        </li>
        <li class="list">
          <a class="link" href="http://localhost:4200/#/contact-us">Report Fraud</a>
        </li>
      </ul>
    </div>

    <div class="col-sm column3">
      <p class="header"><i class="pi pi-check-circle icon"></i> Dont Have An Account?</p>
      <!--Add icon here-->
      <ul>
        <li class="list">
          <a class="link" href="http://localhost:4200/#/sign-up">Sign up Now</a>
        </li>
      </ul>
    </div>

    <div class="col-sm column4">
      <p class="header"><i class="pi pi-download icon"></i> Download our Mobile-App</p>
      <img class="app-img" src="https://i.imgur.com/pMqVHsH.png" alt="get it on play store">
      <img class="app-img" src="https://i.imgur.com/lo11Ib2.png" alt="download on app store">
    </div>
  </div>
</div>
