.container-grid {
  background-color: #205375;
  color: white;
  padding: 5% 7% 5% 7%;
  height: auto;

}

.header {
  font-size: 1.1rem;
  font-weight: bold;
}

// .column1{
// }
.column2 {
  padding-left: 20px;
  border-left: 3px solid #fff;
}

.column3 {
  padding-left: 20px;
  border-left: 3px solid #fff;
}

.column4 {
  border-left: 3px solid #fff;
}

.list {
  padding-bottom: 2%;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.link:hover {
  font-weight: bold;
}

.app-img {
  height: 45px;
  margin: 5%;
}

.icon {
  padding-left: 3%;
  padding-right: 2%;
}