<div class="container-grid">
  <div class="column1">
    <p class="header">(icon) Safe-Life</p> <!--Add icon here-->
    <ul>
      <li class="list">
        <a class="link" href="">About us</a>
      </li>
      <li class="list">
        <a class="link" href="">FAQs</a>
      </li>
      <li class="list">
        <a class="link" href="">View doctors</a>
      </li>
      <li class="list">
        <a class="link" href="">View Plans</a>
      </li>
    </ul>
  </div>

  <div class="column2">
    <p class="header">(icon) Need Assistance?</p> <!--Add icon here-->
    <ul>
      <li class="list">
        <a class="link" href="">Contact us</a>
      </li>
      <li class="list">
        <a class="link" href="">Privacy Policy</a>
      </li>
      <li class="list">
        <a class="link" href="">Term of use</a>
      </li>
      <li class="list">
        <a class="link" href="">Report Fraud</a>
      </li>
    </ul>
  </div>

  <div class="column3">
    <p class="header">(icon) Dont Have An Account?</p> <!--Add icon here-->
    <ul>
      <li class="list">
        <a class="link" href="">Sign Up As A Patient</a>
      </li>
      <li class="list">
        <a class="link" href="">Sign Up As A Doctor</a>
      </li>
      <li class="list">
        <a class="link" href="">Sign Up As A Nurse</a>
      </li>
    </ul>
  </div>

  
  <div class="column4">
    <img class="app-img" src="" alt="get it on play store">
    <img class="app-img"src="" alt="download on app store">
</div>
</div>
