<!--Navbar-->

<!-- Link to health insurance page div -->
<div class="navigate-to-insurance">

</div>


<!-- Search div -->
<div class="search-block">
  <!--Image as background-->
  <h2 class="search-block-h2">You Deserve a Better HealthCare for a Safe Life</h2>
  <h4 class="search-block-h4">Book Doctors & Nurses Online</h4>

  <div class="search-div">
    <div class="first-div">
      <h4 class="search-h4">Book an Appointment all over Egypt</h4>

    </div>
    <div class="second-div">
      <div class="search-selection">
      <select class="form-select specialty" aria-label="">
        <option selected>All Specialties</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="form-select city" aria-label="">
        <option selected>All Cites</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="form-select area" aria-label="">
        <option selected>All Areas</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="checkbox-selection">
      <div class="gender-selection">
        <p class="gender">Gender</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input male" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label male-label" for="inlineCheckbox1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input female" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label female-label" for="inlineCheckbox2">Female</label>
        </div>
      </div>

      <div class="profession-selection">
        <p class="profession">Profession </p>
        <div class="form-check form-check-inline">
          <input class="form-check-input doctor" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label doctor-label" for="inlineCheckbox1">Doctor</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input nurse" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label nurse-label" for="inlineCheckbox2">Nurse</label>
        </div>
      </div>
    </div>
    </div>
    <div class="third-div">

      <div class="search">
        <i class="pi pi-search"></i>
        <input type="text" class="form-control" placeholder="Search by Name...">
        <button class="btn btn-success">Search</button>
      </div>

    </div>
  </div>

</div>

<!-- Our services div -->
<div class=""></div>

<!-- Paragraphs on docs and nurses div -->
<div class=""></div>

<!-- Top doctors and nurses div -->
<div class=""></div>

<!-- FAQs div -->
<div class=""></div>

<!-- our achievements div (450+ docs / 100+ nurses....) -->
<div class=""></div>

<!-- contact us div -->
<div class=""></div>

<!-- get insurance plan div -->
<div class=""></div>

<!--Footer-->
