<!--Navbar-->

<!-- Link to health insurance page div -->
<a href="">
  <div class="navigate-to-insurance-div">
    <div class="navigation-icon">
      <i class="pi pi-arrow-circle-down navigate-arrow"></i>
    </div>
    <p class="health-insurance-anchor">Health Insurance</p>
  </div>
</a>

<!-- Search div -->
<div class="search-block">
  <!--Image as background-->
  <h2 class="search-block-h2">You Deserve a Better HealthCare for a Safe Life</h2>
  <h4 class="search-block-h4">Book Doctors & Nurses Online</h4>

  <div class="search-div">
    <div class="first-div-search">
      <h4 class="search-h4">Book Appointments all over Egypt</h4>
    </div>

    <div class="second-div-search">
      <div class="search-selection">
        <select class="form-select specialty" aria-label="">
          <option class="select-option" selected>All Specialties</option>
          <option class="select-option" value="1">One</option>
          <option class="select-option" value="2">Two</option>
          <option class="select-option" value="3">Three</option>
        </select>
        <select class="form-select city" aria-label="">
          <option class="select-option" selected>All Cites</option>
          <option class="select-option" value="1">One</option>
          <option class="select-option" value="2">Two</option>
          <option class="select-option" value="3">Three</option>
        </select>
        <select class="form-select area" aria-label="">
          <option class="select-option" selected>All Areas</option>
          <option class="select-option" value="1">One</option>
          <option class="select-option" value="2">Two</option>
          <option class="select-option" value="3">Three</option>
        </select>
      </div>

      <div class="checkbox-selection">
        <div class="profession-selection">
          <p class="profession">Profession </p>
          <div class="form-check form-check-inline">
            <input class="form-check-input doctor" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label doctor-label" for="inlineCheckbox3">Doctor</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input nurse" type="checkbox" id="inlineCheckbox4" value="option4">
            <label class="form-check-label nurse-label" for="inlineCheckbox4">Nurse</label>
          </div>
        </div>

        <div class="gender-selection">
          <p class="gender">Gender</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input male" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label male-label" for="inlineCheckbox1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input female" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label female-label" for="inlineCheckbox2">Female</label>
          </div>
        </div>



        <div class="visit-selection">
          <p class="visit">Visit Type</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input clinic-visit" type="checkbox" id="inlineCheckbox5" value="option5">
            <label class="form-check-label clinic-visit-label" for="inlineCheckbox5">Clinic-Visit</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input home-visit" type="checkbox" id="inlineCheckbox6" value="option6">
            <label class="form-check-label home-visit-label" for="inlineCheckbox6">Home-Visit</label>
          </div>
        </div>

      </div>
    </div>
    <div class="third-div-search">
      <div class="search">
        <i class="pi pi-search"></i>
        <input type="text" class="form-control" placeholder="Search by Name...">
        <button class="btn btn-success">Search</button>
      </div>
    </div>
  </div>
</div>

<!-- Our services div -->
<div class="our-services-block">
  <div class="first-div-services">
    <h2 class="">Our Services</h2>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active service-set-box">
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/ZoGEZiu.jpg" alt="Img"></div>
          <div class="service-info">
            <h4>Services 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              t</p>
          </div>
        </div>
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/GFyiEnN.jpg" alt="Img"></div>
          <div class="service-info">
            <h4>Services 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              at</p>
          </div>
        </div>
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/DPp8gIl.jpg" alt="Img"></div>
          <div class="service-info">
            <h4>Services 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              at</p>
          </div>
        </div>
      </div>

      <div class="carousel-item service-set-box">
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/LBaaMjd.jpg" alt="Img"></div>
          <div class="service-info">
            <h4>Services 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              erat</p>
          </div>
        </div>
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/jFYKNC9.jpg" alt="Img"></div>
          <div class="service-info">
            <h4>Services 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              emerat</p>
          </div>
        </div>
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/TDg6d35.jpg" alt="Img"></div>
          <div class="service-info">
            <h4>Services 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              em felis nec erat</p>
          </div>
        </div>
      </div>

      <div class="carousel-item service-set-box">
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/Hl2BxxG.png" alt="Img"></div>
          <div class="service-info">
            <h4>Services 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              c erat</p>
          </div>
        </div>
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/K3zUmaQ.png" alt="Img"></div>
          <div class="service-info">
            <h4>Services 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              s nec erat</p>
          </div>
        </div>
        <div class="service-box">
          <div><img class="service-img" src="https://i.imgur.com/F0F7DIs.png" alt="Img"></div>
          <div class="service-info">
            <h4>Services 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis,
              erat</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>

<!-- Top doctors and nurses div -->
<div class="top-profession-block"></div>

<!-- FAQs div -->
<div class="faqs-block">
  <h2 class="faqs-h2">FAQs</h2>
  <p class="faqs-p">We know you might want more information about our health care, so we've put together a list of our most commonly-asked questions right here.</p>

  <div class="accordion faqs-div" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed faqs-text" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            How do i get a quote?
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p class="faqs-prargraphs">To get a quote, please contact our Group Sales Team by completing this form.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed faqs-text" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Can group policies accommodate different geographic locations?
          </button>
        </h2>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p class="faqs-prargraphs">We offer a variety of solutions to accommodate different corporate needs. Our Group Sales Team would be delighted to discuss your situation and help you come up with a customized plan to address your specific
            needs. </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed faqs-text" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How many staff do i need to offer group term?
          </button>
        </h2>
      </div>

      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p class="faqs-prargraphs">Group terms can be offered when there are three or more staff members.
            For groups wishing to get a quote for international health insurance, please visit our Employer area or contact our Sales Support Team who will be happy to provide you with a quote based on your requirements.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed faqs-text" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            What countires do you offer coverage in?
          </button>
        </h2>
      </div>

      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <p class="faqs-prargraphs">We offer coverage and support for most countries around the world with certain locations supported via specific regional plans. For specific coverage queries, please contact out Sales Team, and they will be
            happy to assist you.</p>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-success view-more-btn">View More</button>
  <h5>Advanced</h5>
  <p-panel header="Header" [toggleable]="true">
      <ng-template pTemplate="icons">
              <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                  <span class="pi pi-cog"></span>
              </button>
              <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
      </ng-template>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </p-panel>
  
  <p-toast></p-toast>
</div>

<!-- our achievements div (450+ docs / 100+ nurses....) -->
<div class="achievements-block">
  <div class="container achievements-container">
    <div class="row">
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
      <div class="col-md achievements-headings-set">
        <h1 class="achievements-headings">+450 <br> Doctors </h1>
      </div>
    </div>
  </div>

</div>

<!-- contact us div -->
<div class="contact-us-block">
  <div class="contact-us-div">
    <p class="contact-us-p">Contact us by calling <i class="pi pi-phone"></i> <span>18000</span> or communicate with
      chat.
      Keep in touch with us with another communciation methods. <br> <a class="contact-us-icon" href="">View more <i
          class="pi pi-arrow-circle-right"></i></a></p>
  </div>
</div>

<!-- get insurance plan div -->
<div class="get-plan-block">
  <div class="get-plan-div ">
    <div class="get-plan-p">
      <p>Don't have insurance plan yet!!! <br> Check out our plans & customize one as prefered. <br>
        View more & more of all details of every plan all over Egypt.<br>
      </p>
    </div>
    <div class="get-plan-btn-div">
      <button class="btn btn-md btn-success get-plan-btn">Check Plans</button>
    </div>
  </div>
</div>

<!-- social media div -->
<div class="social-media-block">
  <hr class="social-media-line">
  <div class="social-media-set">

    <a href="#"><i class="pi pi-facebook facebook social-media"></i></a>
    <a href="#"><i class="pi pi-twitter twitter social-media"></i></a>
    <a href="#"><i class="pi pi-instagram instagram social-media"></i></a>
    <a href="#"><i class="pi pi-whatsapp whatsapp social-media"></i></a>
  </div>
  <hr class="social-media-line">
</div>


<!--Footer-->
