<!--Navbar-->

<!-- Link to health insurance page div -->
<div class="navigate-to-insurance">

</div>


<!-- Search div -->
<div class="search-block">

</div>

<!-- Our services div -->
<div class=""></div>

<!-- Paragraphs on docs and nurses div -->
<div class=""></div>

<!-- Top doctors and nurses div -->
<div class=""></div>

<!-- FAQs div -->
<div class=""></div>

<!-- our achievements div (450+ docs / 100+ nurses....) -->
<div class=""></div>

<!-- contact us div -->
<div class=""></div>

<!-- get insurance plan div -->
<div class=""></div>

<!--Footer-->
