.container {
  background-color: #FFFFFF;
  width: 200rem;
  height: 30rem;
  margin: 3rem 0 3rem 0;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.form {
  width: 40%;
  height: 100%;
}
.subjectTxt {
    margin-right: 1rem;
}

.mapInfo{
    width: 40%;
    height: 100%;
}
.map{
    width: 100%;
    height: 50%;
}
.contactInfo {
    background-color: aqua;
    width: 100%;
    height: 50%;

}