<div class="container PSContainer justify-content-center">
  <div class="center d-flex ">
    <div class="col leftSide justify-content-center gap">
      <img src="https://i.imgur.com/8paCh6n.png" alt="patientLogo" class="row">
      <a class="next-btn" href="http://localhost:4200/#/doctor-signup-phase-2"><button pButton pRipple type="button"
          label="Register" class="p-button-raised p-button-success"></button>
      </a>
    </div>
    <div class="col info justify-content-center">
      <div class="row header ">
        <h1 class="headerTxt ">Information</h1>
      </div>
      <div class="row userInfo">
        <div class="txt_field" name="userFirstName">
          <input type="text" required>
          <span></span>
          <label>First Name</label>
        </div>
        <div class="txt_field userLastName" name="userLastName">
          <input type="text" required>
          <span></span>
          <label>Last Name</label>
        </div>
        <div class="birthDate field col-12 md:col-4">
          <label for="basic" class="DataTxt calenderTxt">Birth Date</label><br>
          <p-calendar inputId="basic" [(ngModel)]="date1"></p-calendar>
        </div>
        <div class="gender d-flex">
          <label class="genderTxt">Gender</label>
          <div class="field-radiobutton maleBtn">
            <p-radioButton class="gTxt" value="male" [(ngModel)]="city" inputId="male"></p-radioButton>
            <label for="male"><img src="https://i.imgur.com/7alkg7M.png" alt="male" class="genderImg"> Male</label>
          </div>
          <div class="field-radiobutton femaleBtn">
            <p-radioButton class="gTxt" value="female" [(ngModel)]="city" inputId="female"></p-radioButton>
            <label for="female"><img src="https://i.imgur.com/31PD7OW.png" alt="female" class="genderImg">
              Female</label>
          </div>
        </div>
        <div class="txt_field" name="userNumber">
          <input type="number" required>
          <span></span>
          <label>Phone Number</label>
        </div>
        <div class="txt_field userEmail" name="userEmail">
          <input type="email" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="password DataTxt">
          <h5 class="passTxt">Show Password</h5>
          <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
        </div>
        <div class="txt_field userLastName" name="userLastName">
          <input type="text" required>
          <span></span>
          <label>Qualification</label>
        </div>
        <div class="specialty DDMenu passTxt">
          <h5>Specialty</h5>
          <p-dropdown [options]="drSpecialty" [(ngModel)]="drSpecialty" placeholder="Select a Specialty" optionLabel="name"
            [showClear]="true"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
</div>
