<div>
  <div class="patients-list">
    <div class="patients-list-table-scroll">
      <table class="patients-list-table">
        <thead>
          <tr>
            <th colspan="7">
              <h4>Patients-list</h4>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Delete Patient</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Khalid Ahmed Amr</td>
            <td>30</td>
            <td>Male</td>
            <td>KhalidAhmed@gmail.com</td>
            <td>0122222222</td>
            <td>Giza</td>
            <td class="cancel-btn-data"><button type="button" class="btn btn-danger delete-btn">Delete</button></td>
          </tr>
          <tr>
            <td>Khalid Ahmed Amr</td>
            <td>30</td>
            <td>Male</td>
            <td>KhalidAhmed@gmail.com</td>
            <td>0122222222</td>
            <td>Giza</td>
            <td class="cancel-btn-data"><button type="button" class="btn btn-danger delete-btn">Delete</button></td>
          </tr>
          <tr>
            <td>Khalid Ahmed Amr</td>
            <td>30</td>
            <td>Male</td>
            <td>KhalidAhmed@gmail.com</td>
            <td>0122222222</td>
            <td>Giza</td>
            <td class="cancel-btn-data"><button type="button" class="btn btn-danger delete-btn">Delete</button></td>
          </tr>
          <tr>
            <td>Khalid Ahmed Amr</td>
            <td>30</td>
            <td>Male</td>
            <td>KhalidAhmed@gmail.com</td>
            <td>0122222222</td>
            <td>Giza</td>
            <td class="cancel-btn-data"><button type="button" class="btn btn-danger delete-btn">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
