.quote-details {
    width: 50rem;
    height: auto;
    margin: 5rem auto 2rem;
}



table {
    width: 100%;
    background-color: #eaece5;
}


.title {
    text-align: left;
    padding-left: 2rem;
}

.title-availability {
    text-align: center;
}

td,
th {
  border: 3px solid #fff;
  height: 5rem;
  width: 25rem;
}


.insurer-benefit-available,
.insurer-benefit-unavailable {
  width: 2.5rem;
  height: auto;
  text-align: center;
}


.subscribe-btn {
    display: block;
    margin: 1rem auto 4rem;
}











:host ::ng-deep .p-panel .p-panel-header .p-panel-header-icon:focus {
    box-shadow: none;
}

:host ::ng-deep .p-panel .p-panel-header {
    background: #2666cf;
    color: #ffffff;
}

:host ::ng-deep .pi-plus:before {
    color: #fff;
}

:host ::ng-deep .pi-minus:before {
    color: #fff;
}
