.search-div {
  display: flex;
  width: 40%;
  margin: 3rem auto;
  justify-content: space-evenly;

  background-color: #EEEEEE;
  border: 5px solid #F2F2F2;
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 29%) 0px 6px 18px 0px;
}


.row-1,
.row-2,
.row-4 {
  display: flex;
  flex-direction: row;
  margin: 1.5rem auto;
}

.row-3 {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem;
}  


.insurer-company {
  flex: 1 1;
  margin: 0.5rem 1rem;
}

.payment-frequency {
  flex: 1 1;
  margin: 0.5rem 1rem;
}

.premium-range {
  flex: 1 1;
  margin: 0.5rem 1rem;
}

.premium-range-label {
  display: block;
}

.premium-range-input {
  display: block;
  width: 14.5rem;
}

.deductible-range {
  flex: 1 1;
  margin: 0.5rem 1rem;
}

.deductible-range-label {
  display: block;
}

.deductible-range-input {
  display: block;
  width: 14.5rem;
}

.benefits-input {
  margin-right: 0.5rem;
  float: left;
}

.definition {
  display: block;
  color: grey;
  font-size: 0.8rem;
  margin-left: 1.5rem;
}


.form-control {
  box-shadow: none;
}

.form-check-input {
  box-shadow: none;
}


.search-btn {
  display: block;
  border-radius: 5px;
  padding: 0.5rem 4rem;
  margin: 0 auto;
  box-shadow: none;
}

.search-btn:hover {
  box-shadow: rgb(0 0 0 / 29%) 0px 6px 18px 0px;
}
