@font-face {
    font-family: JannaLT;
    src: url(assets/fonts/JannaLT/JannaLTRegular.ttf) format("truetype");
}
@font-face {
    font-family: PoppinsBold;
    src: url(assets/fonts/Poppins-ExtraBold.ttf) format("truetype");
}
