@font-face {
    font-family: JannaLT;
    src: url(assets/fonts/JannaLT/JannaLTRegular.ttf) format("truetype");
}
@font-face {
    font-family: JannaLTBold;
    src: url(assets/fonts/JannaLT/JannaLTBold.ttf) format("truetype");
}
