<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid py-3">
    <a class="navbar-brand" href="http://localhost:4200/#/home"><img src="#" alt="Logo"> Safe-Life</a>
    <!--Icon beside brand name-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav set1">
        <li class="nav-item1">
          <a class="nav-link active" href="http://localhost:4200/#/home">HealthCare</a>
          <!--Set as active when clicked on-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/#/home2">Health Insuarnce</a>
          <!--Set as active when clicked on-->
        </li>
        <li class="nav-item1">
          <a class="nav-link" aria-current="page" href="http://localhost:4200/#/about-us">About Us</a>
        </li>
        <li class="nav-item1">
          <a class="nav-link" href="http://localhost:4200/#/contact-us">Contact Us</a>
        </li>
      </ul>

      <div class="accountControl">
        <ul class="navbarAccountControl navbar-nav">
          <li class="nav-item"><a href="http://localhost:4200/#/sign-up" class="nav-link"><i
                class="fa-solid fa-user-plus"></i>(icon) Sign Up</a></li>
          <li class="nav-item"><a href="http://localhost:4200/#/login" class="nav-link"><i class="fa-solid fa-user"></i>(Icon) 
              Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
