.navbar {
  background-color: rgba(255, 255, 255, 0.928);
  margin: 0rem;
  padding-right: 6rem;
  padding-left: 6rem;
}

//set1 carries healthcare-health insuarnce about....
.set1{
  margin-left: 20rem;
}

.navbar ul li {
  margin:0 2rem 0 0;
  font-size: 1.5rem;
}

.navbar-collapse {
  justify-content: space-between;
}

.nav-item {
  color: #646569;
  font-size: 1.3rem;

  .pi-search {
    color: #46763a;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
  }
}

.loginButton {
  // background-color: #46763a;
  color: #fff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.2rem;
}


.btn-success {

  background-color: #46763a;

}

// .loginButton:hover{

//   background-color: white;
//   color: #46763a;
//   border: 1px solid  #46763a;
//   border-radius: 6px;

// }


.nav-link {
  cursor: pointer;
}

// a,
// button {
//     font-family: "JannaLT", "arial", sans-serif !important;
// }


button {
  border: none;
}



.inputContainer {
  padding-bottom: 1rem;

  input {
    border: 2px solid #46763a;
    border-radius: 4px;
    height: 2.5rem;
    font-family: "JannaLT", sans-serif !important;
    width: 15rem;
  }

  input:focus {
    outline: #46763a;
  }

  p {
    font-family: "JannaLT", sans-serif !important;
    color: #46763a;
  }

  .registerLink:hover {
    color: #5f9f4f;
  }

  .text-danger {
    font-family: "JannaLT", sans-serif !important;

  }
}

.inputContainer:last-of-type {
  padding-bottom: 0;
}

.submitButton {
  cursor: pointer;
  background-color: #46763a;
  color: #fff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "JannaLT", sans-serif !important;

}

.disabled {
  background-color: #2e4d26;
  color: #a6a3a3;
  cursor: not-allowed;
}

:host ::ng-deep {
  .p-dialog-header {
    direction: rtl;
    font-family: "JannaLT", sans-serif !important;
  }
}



@media only screen and (min-device-width: 1200px) and (max-device-width: 1400px) {

  .navbar-nav {
    a {
      font-size: 1rem !important;
    }
  }

}

@media only screen and (min-device-width: 1400px) {
  .navbar-nav {
    a {
      font-size: 0.9rem !important;
    }
  }

  .loginButton{
    font-size: 0.9rem;
  }


  .navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}